.about-section{
  background-attachment: fixed;  background-size: cover; background-repeat: no-repeat; background-position: center top; color: white; padding: 50px 20px; background-blend-mode: darken;
}
.about-section p {
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
      text-align: center;
      
    }
    .about-section h2 {
    font-size: 5rem; 
    text-align: center;
    margin-bottom: 20px;
  }

    .about-section .p-large {
      font-size: 34px;
      font-weight: bold;
    }

    .about-section .p-medium {
      font-size: 30px;
    }

    .about-section .p-normal {
      font-size: 24px;
    }

    .about-section .p-small {
      font-size: 20px;
    }

    .about-section img {
      margin-left: 250px;
      width: 250px; 
      height: 250px;
      margin-right: -200px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
    /* Mobile-about section */
    @media (max-width: 768px) {
      .about-section{
  background-size: cover;  background-attachment: scroll; background-repeat: no-repeat; background-position: center top; color: white; padding: 50px 20px; background-blend-mode: darken;
}
      .about-section h2 {
      font-size: 4.2rem;
  }
      .about-section .p-large {
        font-size: 28px; 
      }

      .about-section .p-medium {
        font-size: 24px; 
      }

      .about-section .p-normal {
        font-size: 22px;
      }

      .about-section .p-small {
        font-size: 20px; 
      }
      .about-section img {
      margin-left: 30px;
      width: 125px; 
      height: 125px;
      margin-right: -20px;
      border-radius: 50%;
      margin-bottom: 20px;
  }
  .about-section .container {
    padding: 10px; 
  }
    }
 

.projects-section{
 background-attachment: fixed;  background-size: cover; background-repeat: no-repeat; background-position: center top; color: white; padding: 50px 20px; background-blend-mode: darken;
}

.projects-section h2 {
  margin-bottom: 30px;
  font-size: 2.5rem;
}
.card {
  border-width: 20px;
  border-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); 
  
}
.card-img-top {
  max-height: 600px; 
  object-fit: cover; 
}
.card-body {
  padding: 15px;
}
.card-title {
  font-size: 1.5rem;
}
.card-text {
  margin-bottom: 15px;
}
/*Mobile projects and extracurriculars section*/
@media (max-width: 768px) {
.projects-section{
background-size: cover;  background-attachment: scroll; background-repeat: no-repeat; background-position: center top; color: white; padding: 50px 20px; background-blend-mode: darken;
}
  
.projects-section h2 {
  font-size: 2rem;
      }
.card {
  margin-bottom: 20px;
      }
.card-body {
  padding: 10px;
      }
.card-title {
  font-size: 1.25rem;
      }
.card-text {
  font-size: 16px;
      }
    }

  
.skills{
background-size: cover;  background-attachment: scroll; background-repeat: no-repeat; background-position: center top; color: white; padding: 50px 20px; background-blend-mode: darken;
}
.skills-section{
background-size: cover;  background-attachment: scroll; background-repeat: no-repeat; background-position: center top; color: white; padding: 50px 20px; background-blend-mode: darken;
}
.skills .card {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }

  .skills .card:hover {
    transform: translateY(-5px);
  }

  .skills .card-body {
    padding: 20px;
    text-align: center;
  }

  .skills .card-title {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .skills .card-text {
    font-size: 0.95rem;
    color: #333;
  }

  .skills .card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 10px;
    margin: 0 auto;
    display: block;
  }

  .skills a.btn {
    margin-top: 10px;
    font-size: 0.9rem;
    padding: 6px 12px;
  }
.skills-section .btn-outline-primary {
  color: maroon;
  border-color: white;
}
.skills-section .btn-outline-primary:hover {
  color: #fff;
  background-color: maroon;
  border-color: maroon;
}
/*Mobile skills section*/
@media (max-width: 768px) {
.skills{
background-size: cover;  background-attachment: scroll; background-repeat: no-repeat; background-position: center top; color: white; padding: 50px 20px; background-blend-mode: darken;
}
.skills-section{
background-size: cover;  background-attachment: scroll; background-repeat: no-repeat; background-position: center top; color: white; padding: 50px 20px; background-blend-mode: darken;
}
.skills-section h2 {
  font-size: 1rem;
      }
.skills-section .card {
 margin-bottom: 20px;
      }
.skills-section .card-img-top {
 height: 200px;
 padding: 30px;
      }
.skills-section .card-body {
  padding: 10px;
      }
.skills-section .card-title {
  font-size: 1.125rem;
      }
    }




.contact-section {
  padding: 20px 0;
  background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: center; color: white; padding: 50px 20px; background-blend-mode: darken;
}
.contact-section h2 {
  font-size: 3.25rem;
  margin-bottom: 40px;
}
.contact-section p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.contact-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-links-container a {
  margin-bottom: 10px; 
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.social-icon {
  width: 100px; 
  margin-bottom: 10px;
  border-radius: 50%; 
  object-fit: cover; 
}

.social-icon:hover {
  opacity: 0.7;
}

.contact-section a {
  color: #fff;
  text-decoration: none; 
  display: inline-block; 
  margin-bottom: 20px;
}
.contact-section a:hover {
  color: #ddd; 
}

/*Mobile contact section*/
@media (max-width: 768px) {
  .contact-section{
 background-size: cover;  background-attachment: scroll; background-repeat: no-repeat; background-position: center top; color: white; padding: 50px 20px; background-blend-mode: darken;
}
  
  #contact .container {
      flex-direction: column;
      align-items: center;
    }

  #contact .left-column {
      margin-right: 0;
      margin-bottom: 30px;
      min-width: 100%;
      text-align: center;
    }

  #contact .right-column {
      min-width: 100%;
      text-align: center;
    }

  #contact h2 {
      font-size: 32px; 
    }

  #contact .icon-container a {
      font-size: 16px; 
    }

  #contact .badge-base__link {
      font-size: 16px; 
    }

  #contact p {
      font-size: 16px; 
    }
  }




.navbar {
  box-shadow: 0 2px 5px rgba(100,100,100); 
  background-color: maroon;
  margin: -32px;
}

body { 
  padding-top: 56px; 
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: -50px;
}

/* Hamburger Button */
.hamburger-button {
  position: fixed; 
  top: 10px;
  left: 30px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75px;
  height: 33px;
  z-index: 9999;
  cursor: pointer;
  transition: 0.3s;
}

.hamburger-button .line {
  background-color: white;
  height: 5px;
  width: 75px;
  border-radius: 0px;
  transition: 0.3s;
}

.hamburger-button.active .line:nth-child(1) {
  transform: rotate(45deg) translate(12px, 10px);
  width: 50px;
  height: 2px;
}

.hamburger-button.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger-button.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -9px);
  width: 50px;
  height: 2px;
}

/* Navigation Menu */
#navbarMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: maroon;
  padding-top: 60px;
  padding-right: 15px;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  overflow-y: auto;
}

#navbarMenu.show {
  transform: translateX(0);
}

/* Navigation Items */
.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 5px 0;
  transform: translateY(35%);
  text-align: left;
  font-size: 32px;
  color: white;
}

.nav-item[href="#home"] {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.4s ease-in-out;
}

.nav-item img {
  height: 30px;
  width: auto;
  transform: translateY(-28%);
  margin-right: 10px;
}

/* Navigation Links */
.navbar-nav .nav-link {
  color: white;
  display: block;
  padding: 10px 15px;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #f8f9fa;
  text-decoration: underline;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 32px;
}

/* Overlay */
.navbar-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 999;
  transition: background-color 0.4s ease-in-out;
}

.navbar-overlay.show {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger-button {
  position: fixed; 
  top: 15px;
  left: 20px;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75px;
  height: 33px;
  z-index: 9999;
  cursor: pointer;
  transition: 0.3s;
}
.navbar {
  box-shadow: 0 2px 5px rgba(100,100,100); 
  background-color: maroon;
  margin: -50px;
}
  .navbar-collapse {
    display: none;
  }
.nav-item img {
  height: 0px;
  width: 0;
  transform: translateY(-28%);
  margin-right: 10px;
}
.nav-item {
  margin: 15px 0;
  transform: translateY(10%);
  text-align: left;
  font-size: 32px;
  color: maroon;
}
  
#navbarMenu {
  position: fixed;
  top: 0;
  left: 0;
  height: 900px;
  width: 250px;
  background-color: maroon;
  padding-top: 60px;
  padding-right: 15px;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in-out;
  overflow-y: auto;
}
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav .nav-item {
    width: 100%;
    text-align: left;
  }
  
  /* Home icon/text visibility */
  .nav-item[href="#home"] {
    transition: opacity 0.4s ease-in-out;
  }
  
  .navbar.menu-open .nav-item[href="#home"] {
    opacity: 0;
    pointer-events: none;
  }

}
